*{
    padding: 0;
    margin: 0;
}

body, html{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Open Sans',sans-serif;
}

/* Top header */
.header{
    height: 90px;
    color: darkblue;
    margin-bottom: 50px;
    width: 100vw;
}

.container{
    display: flex;
    align-content: center;
    flex-flow: row wrap;
}

/* Logo */
.container .logo{
    width: 20%;
    display: flex;
    align-items: center;
    padding: 20px 0 15px 70px;
}

.container .logo img{
    height: 80px;
    width: 125px;
}

/* nav */
.container nav{
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container nav ul{
    list-style-type: none;
    white-space: nowrap;
    padding-right: 50px;
}

.container nav li{
    display: inline-block;
    margin-left: 35px;
}

.container nav li a{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    transition: .2s all ease;
    font-weight: 600;
}

.container nav li a:hover{
    color: goldenrod;
}

.container nav li a i{
    display: block;
    width: 0;
    background: black;
    margin-top: 5px;
    height: 1.5px;
    transition: .5s;
}

.container nav li a:hover i{
    width: 80%;
}

/* Icons */

.menuIcons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.menuIcons i{
    font-size: 25px;
    margin-right: 35px;
    color: black;
}

.menuIcons i:hover{
    color: goldenrod;
}

.menuIcons #menu-bar{
    display: none;
}



/* Body */

/* Featured category */


.categories{
    margin: 70px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}


.categories h2{
    white-space: nowrap;
}

.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 35px;
    margin-left: 15px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.col-3:hover div{
    display: flex;
    width: 250px;
    height: 100%;
    visibility: visible;
    font-size: 22px;
    opacity: 1;
}

.col-3:hover div i{
    font-size: 35px;
    margin-bottom: 20px;
}

.col-3 div{
    position: absolute;
    width: 70%;
    height: 50%;
    background: black;
    color: goldenrod;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    transition: .5s all ease;
    visibility: hidden;
    white-space: nowrap;
    opacity: 0;
}

.col-3 div i{
    font-size: 20px;
    margin-bottom: 10px;
}

.col-3 img{
    width: 250px;
    height: 350px;
    border: 1.5px solid #efefef;
    box-shadow: 1px 1px 4px 1px #efefef;
    border-radius: 5px;
    padding: 15px 0;
}

.sub-container{
    /* max-width: 1080px; */
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;

}  

/* Featured Products */

.row2{
    width: 80vw;
    max-width: 80vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-top: 80px;
}

.row2 span{
    text-decoration: line-through;
    color: grey;
    font-weight: 400;
    font-size: 14px;
}

.row2 p{
    color: red;
    font-weight: 600;
}


/* All products */
main{
    display: flex;
    width: 100vw;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
}

/* Header */


.row-head{
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100vw;
    padding: 30px;
    margin-bottom: 35px;
    margin: 0 50px;
}

.row-head h2{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 25px;
    font-size: 22px;

}

.row-head h2 i{
    margin-top: 15px;
    height: 5px;
    border-radius: 20px;
    width: 50%;
    display: block;
    background-color: red;
}

.row-head select:focus{
    outline: none;
}

.row-head select{
    padding-left: 15px;
    border-radius: 5px;
    height: 30px;
    border: 1.5px solid goldenrod;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 600;
}


/* Products */

.small-container{
    max-width: 950px;
    min-width: 150px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.row{
    width: 180px;
    margin-right: 17.5px;
    margin-left: 17.5px;
    margin-bottom: 45px;
}

.col-4:hover{
    margin-top: -20px;
}

 .col-4{
    display: flex;
    flex-flow: column;
    transition: all .5s ease;
    border: 1px solid #efefef;
    box-shadow: 1px 1px 3px 1px #efefef;
    border-radius: 5px;
    padding: 15px 10px;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}

 .col-4 img{
    width: 150px;
    height: 200px;
    margin-bottom: 15px;

}

 .col-4 h4{
    font-size: 14px;
    font-weight: 400;
}

 .col-4 .rating i{
    margin-top: 10px;
    margin-bottom: 10px;
    color: goldenrod;
    
}


/* Page btn */

.page-btn{
    margin: 15px auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid goldenrod;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: gray;
    transition: .3s all ease;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.page-btn span:hover{
    background-color: goldenrod;
    color: white;
}


/* Sort by Price */

.sort-by-price, .sort-by-popularity, .sort-by-rating, .sort-by-sale{
    display: none;
}


















/* Footer */

footer{
    background: black;
    color: gray;
    padding: 60px 0 20px 0;
    font-size: 14px;
    font-family: 'Inconsolata', sans-serif;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.footer-block{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1.5px solid grey;
}

footer p{
    color: gray;
    display: inline-block;
}

footer h3{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

footer a{
    color: gray;
    text-decoration: none;
    font-family: 'Inconsolata', sans-serif;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 35px;
    text-align: center;
   
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
}

.footer-col-2 p{
    max-width: 210px;
}

.footer-col-2 img{
    width: 80px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

footer ul{
    list-style-type: none;
    text-align: center;
}

footer li{
    line-height: 30px;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
    margin-bottom: 15px;
}

.copyright{
    margin-top: 15px;
    text-align: center;
}









@media only screen and (max-width: 880px){

/* Top header */
.header{
    height: 90px;
    color: darkblue;
    margin-bottom: 50px;
    width: 100vw;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 20px;
}

/* Logo */
.container .logo{
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-right: 90px;
}

.container .logo img{
    height: 60px;
    width: 100px;
}

/* nav */
.container nav{
   display: none;
}

/* Icons */

.menuIcons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.menuIcons #cart-icon{
    font-size: 25px;
    margin-right: 35px;
    color: black;
}

.menuIcons #cart-icon:hover{
    color: goldenrod;
}

.menuIcons #menu-bar{
    display: block;
    font-size: 35px;
    margin: 0;
}



/* Row head */

.row-head h2{
    font-size: 18px;

}

.row-head h2 i{
    height: 4px;
    
}


}

@media only screen and (max-width: 768px){
    .block1{
        display: none;

    }
        
}


@media only screen and (max-width: 426px){     
    
    .row .col-4 h4{
        display: none;
    }
}